# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules
node_modules/

# Builds
dist/
dist-ssr/
build/
.out/

# Local env files
*.local
.env
.env.*.local

# Editor config
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store

# Windows system files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Archivos corruptos generados por error
*;*.js
import React*.js
