@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- MEJORA: Suavizado de fuentes para un look más profesional --- */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* --- MEJORA: Clases para ocultar la barra de scroll sin perder la funcionalidad --- */
/* (Esta parte se mantiene igual, ya que es una utilidad útil y no interfiere) */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}